.card{
    width: 400px;
    margin:2px;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2px
}
#container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    background-image: linear-gradient(to right,skyblue, rgb(141, 141, 237));
    background-repeat: no-repeat;
    scroll-behavior: smooth;
 
}